<div>
  <form class="red-border">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Title:</label>
      <input class="col-sm-3" [(ngModel)]="title" name="title" #titleInput="ngModel" required>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">State:</label>
      <select class="col-sm-3" [(ngModel)]="state" name="state" #stateInput="ngModel" required>
        <option *ngFor="let state of stateOptions" value="{{state.abbreviation}}">{{state.name}}</option>
      </select>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">City:</label>
      <input class="col-sm-3" [(ngModel)]="city" name="city" #cityInput="ngModel" required>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Description:</label>
      <textarea class="col-sm-3" [(ngModel)]="description" name="description" #descritionInput="ngModel" required></textarea>
    </div>
    <div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Categories:</label><button class="btn col-sm-2" (click)="addCategoryVis=true">Add Category</button>
      </div>
      <div class="form-group row">
        <ul class="offset-sm-1">
          <li *ngFor="let category of categories">{{category}}</li>
        </ul>
      </div>
      <add-category-input *ngIf="addCategoryVis" [filterCategories]="categories" (categoryAddSignal)="addCategory($event)" (cancelAddSignal)="closeAddCategory()"></add-category-input>
    </div>
    <button class="btn" (click)="makePost()">Post</button> <button class="btn" (click)="cancel()">Cancel</button>
  </form>
</div>
