<div>
  <form>
    <div>
      <label>Title of Location/Organization/Place:</label>
      <input [(ngModel)]="postTitle" name="postTitle" #postInput="ngModel" required>
    </div>
    <div>
      <div>
        <label>City:</label>
        <input [(ngModel)]="city" name="city" #cityInput="ngModel" required>
      </div>
      <div>
        <label>State:</label>
        <select [(ngModel)]="state" name="state" #stateInput="ngModel" required>
          <option *ngFor="let state of stateOptions" value="{{state.abbreviation}}">{{state.name}}</option>
        </select>
      </div>
    </div>
    <div>
      <label>Description:</label>
      <textarea [(ngModel)]="description" name="description" #descritionInput="ngModel" required></textarea>
    </div>
    <div>
      <button (click)="addCategoryVis=true">Add Category</button>
      <div>
        <label>Categories:</label>
        <ul>
          <li *ngFor="let category of categories">{{category}}</li>
        </ul>
      </div>
      <add-category-input *ngIf="addCategoryVis" [filterCategories]="categories" (categoryAddSignal)="addCategory($event)" (cancelAddSignal)="closeAddCategory()"></add-category-input>
    </div>
    <div>
    </div>
  </form>
  <button (click)="cancel()">Cancel</button>
</div>
