<div class="profile-wrapper">
  <div class="profile">
    <div>
      <h3>Username: {{profile.userName}}</h3>
      <h3>E-mail: {{profile.email}}</h3>
      <h3>Interests:</h3>
      <ul>
        <li *ngFor="let interest of profile.interests">{{interest}}</li>
      </ul>
      <button (click)="addInterest = true">Add Interest</button>
      <h3>Vote-History (Used for Recommendations):</h3>
      <gen-tab [posts]="voteHistory" [profile]="profile"></gen-tab>
    </div>
  </div>
  <div class="add-interest" [ngClass]="{'hide': !addInterest}">
    <p>Add Interest</p>
    <add-category-input [filterCategories]="profile.interests" (categoryAddSignal)="addInterestToUser($event)" (cancelAddSignal)="closeAdd()"></add-category-input>
  </div>
</div>
