<div class="post-wrapper">
  <vote-counter [upvotes] = "post.numberOfUp" [downvotes] = "post.numberOfDown" (voteSignal)="userChangeVote($event)"></vote-counter>
  <div class="post-content">
    <h3>{{post.title}}</h3>
    <div *ngIf="!expanded">
      <p class="text-limit">{{post.description}}</p>
    </div>
    <div *ngIf="expanded" class="full-post">
      <p>{{post.description}}</p>
    </div>
  </div>
  <div class="expand-button" (click)="toggleExpand()">
    <i class="fa" [ngClass]="expanded ? 'fa-minus' : 'fa-plus'"></i><a> {{expandText}}</a>
  </div>
</div>
