<div class="post-wrapper">
  <vote-counter [votes] = "post.votes" (voteSignal)="userChangeVote($event)"></vote-counter>
  <div class="post-content">
    <h3 class="post-title">{{post.title}}</h3>
    <h5 class="recommend-factor" [ngClass]="post.recommendFactor >= .5 ? 'text-green' : 'text-red'">{{factorToPercent(post.recommendFactor)}}% Recommended</h5>
    <div *ngIf="!expanded">
      <p class="text-limit">{{post.description}}</p>
    </div>
    <div *ngIf="expanded" class="full-post">
      <p>{{post.description}}</p>
    </div>
  </div>
  <div class="expand-button" (click)="toggleExpand()">
    <i class="fa" [ngClass]="expanded ? 'fa-minus' : 'fa-plus'"></i><a> {{expandText}}</a>
  </div>
</div>
