<div>
  <form>
    <label>Select a category to add</label>
    <select [(ngModel)]="category" name="category" #categorySelect="ngModel" required>
      <option value="{{category}}" *ngFor="let category of categoriesToList">{{category}}</option>
    </select>
    <div [hidden]="categorySelect.valid || categorySelect.pristine" class="alert alert-danger">
      Please select a category or "other" or hit cancel.
    </div>
    <div *ngIf="category=='Other'">
      <input [(ngModel)]="otherCategory" name="otherCategory" #otherCategoryInput="ngModel" required>
      <div [hidden]="otherCategoryInput.valid || otherCategoryInput.pristine" class="alert alert-danger">
        Cannot be empty. Please enter a category, select a common category from the drop down, or cancel.
      </div>
    </div>
    <button (click)="addCategory()">Ok</button> <button (click)="cancel()">Cancel</button>
  </form>
</div>
